
html {
  font-size: 22pt;
  text-align: justify;
}

tbody tr:nth-child(even) td, tbody tr.even td {
  background:white;
}


p {
  margin-bottom: 0.5rem;
}

.header {
  margin-top: 40px;
}

.big-skip {
  margin-top: 2rem;
}

.italic {
  font-style: italic;
}

.list-level-1 > li {
  list-style-type: disc;
}


.list-level-2 > li {
  list-style-type: circle;
}

.valign-top * {
  vertical-align: top;
}

.top-text {
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
}

.small-top-text {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

.red-letter {
  color: red;
}

.cert-image {
  margin: 5px;
  width: 100%;
}