
html {
  font-size: 20pt;
  text-align: justify;
}

body {
  background: #7AB4D3;
}

.container {
  background:white;
}

.content {
  margin: 30px 40px 40px 40px;
}

.header {
  margin: 40px 40px 20px 40px;
}

.header-links-background {
  background: #1B5C8A;
  background: linear-gradient(to top, #032547, #1B5C8A);
}

.header-links {
  margin: 0px 40px 0px 40px;
}

.header-link {
  display: inline-block;
  padding: 10px 40px 10px 40px;
  color: white;
  border-left: 2px solid #336BA3;
  text-decoration: none;
}

.header-link:hover {
  color: #E0E0E0;
}


.header-link:first-child {
  border-left: none;
}

tbody tr:nth-child(even) td, tbody tr.even td {
  background:white;
}


p {
  margin-bottom: 0.5rem;
}


.big-skip {
  margin-top: 2rem;
}

.italic {
  font-style: italic;
}

.list-level-1 > li {
  list-style-type: disc;
}


.list-level-2 > li {
  list-style-type: circle;
}

.align-right {
  text-align: right;
}

.valign-top * {
  vertical-align: top;
}

.no-padding * {
  padding: 0px !important;
}

.big-top-text {
  font-family: sans-serif;
  font-size: 25pt;
  text-align: center;
}

.top-text {
  font-family: sans-serif;
  font-size: 20pt;
  text-align: center;
}

.small-top-text {
  font-family: sans-serif;
  text-align: center;
}

.red-letter {
  color: red;
}

.cert-image {
  margin: 5px;
  width: 100%;
}