
html {
  font-size: 20pt;
  text-align: justify;
}

body {
  background: #7AB4D3;
}

.container {
  background:white;
}

.content {
  margin: 30px 40px 0px 40px;
}

.header {
  margin: 40px 40px 20px 40px;
}

.header-links-background {
  background: linear-gradient(to top, #032547, #1B5C8A);
}

.header-links {
  margin: 0px 40px 0px 40px;
}

.header-links * {
  font-size: 22pt;
  color: white;
}

.header-links a:hover {
  color: #E0E0E0;
}

.header-link {
  margin-left: 30px;
}

.header-link:first-child {
  margin-left: 0px;
}

tbody tr:nth-child(even) td, tbody tr.even td {
  background:white;
}


p {
  margin-bottom: 0.5rem;
}


.big-skip {
  margin-top: 2rem;
}

.italic {
  font-style: italic;
}

.list-level-1 > li {
  list-style-type: disc;
}


.list-level-2 > li {
  list-style-type: circle;
}

.valign-top * {
  vertical-align: top;
}

.top-text {
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
}

.small-top-text {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

.red-letter {
  color: red;
}

.cert-image {
  margin: 5px;
  width: 100%;
}