<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{site.baseurl}}css/screen.css">
        </link>
        <link rel="stylesheet" href="{{site.baseurl}}css/custom.css">
        </link>
    </head>
    <body>
      <div class="container">
        <div class="span-24 last header">
          <div class="span-3">
            <img src="{{site.baseurl}}pictures/header.png" />
          </div>
          <div class="span-16 last">
            <div class="top-text">
              Разработка экологической документации
            </div>
            <div class="small-top-text">
              индивидуальный предприниматель
            </div>
            <div class="small-top-text">
              Светлана Уйманова
            </div>
          </div>
        </div>
        <div class="clearfix" />
        <div>
          <a href="{{site.baseurl}}" class="span-6">
            <h2>
              Главная
            </h2>
          </a>
          <a href="{{site.baseurl}}services" class="span-5">
            <h2>
              Услуги
            </h2>
          </a>
          <a href="{{site.baseurl}}legitimacy" class="span-7">
            <h2>
              Легитимность
            </h2>
          </a>
          <a href="{{site.baseurl}}contacts" class="span-6 last">
            <h2>
              Контакты
            </h2>
          </a>
        </div>
        <div class="clearfix" />
        <div class="content">
          {{ content }}
        </div>
      </div>
    </body>
</html>
