<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{site.baseurl}}css/screen.css">
        </link>
        <link rel="stylesheet" href="{{site.baseurl}}css/custom.css">
        </link>
    </head>
    <body>
      <div class="container">
        <div class="span-24 last header">
          <h1>
            ИП Уйманова
          </h1>
        </div>
        <div class="clearfix">
        </div>
        <div>
          <a href="{{site.baseurl}}" class="span-6">
            <h2>
              Главная
            </h2>
          </a>
          <a href="{{site.baseurl}}about" class="span-6">
            <h2>
              О компании
            </h2>
          </a>
          <a href="{{site.baseurl}}certificates" class="span-6">
            <h2>
              Сертификаты
            </h2>
          </a>
          <a href="{{site.baseurl}}contacts" class="span-6 last">
            <h2>
              Контакты
            </h2>
          </a>
        </div>
        <div class="clearfix">
        </div>
        {{ content }}
      </div>
    </body>
</html>
